.footer{
    padding: 20px 0;
    text-align: center;
    line-height: 2;
    font-size: 14px;
    background-color: #13131366;
}
.footer p a{
    color: #ff0000;
}
.footer>a{
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 4px;
    bottom: 16px;
    right: 16px;
    position: fixed;
}